html {
    height: 100%;
    fontsize:62.5%;
}

body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    padding: 0 15px;
    background: -webkit-linear-gradient(top, #35cf89, #09af81);
    background: -ms-linear-gradient(top, #35cf89, #09af81);
    text-align: center;
}

.title {
    text-align: center;
    color: #3cd084;
}

.shutDown {
    text-align: center;
    color: #BABABA;
    color: #3cd084;
    font-size: 14px;
}

.shutDown2 {
    color: #BABABA;
    position: absolute;
    bottom: 5px;
    text-align: center;
}

.logo {
    text-align: center;
    border-radius: 20px;
    margin: 10px 0;
}

.text {
    margin: 50px 0;
    color: white;
    text-shadow: 1px 1px 2px #000;
    font-size: 15px;
    /*text-indent: 2em;*/
}
.qrTitle{
    height: 20px;
    width: 100%;

    background-color: #ddf6f2;
}
.QRcode{
    height: 380px;
    background-color: white;
    border-radius: 6px;
}
.QRcode img{
    width: 220px;
}
.sponsorBtn{
    background-color: white;
    border: 1px solid #35cf89;
    color: #35cf89;
    height: 40px;
}
.sponsorName,.sponsorBtn,.QRcodeImg{
    margin-top: 22px;
    font-size: 16px;
    border-radius: 6px;
}
.footer{
    position: absolute;
    color: white;
    width: 100%;
    bottom: 3px;
}